<!-- EJS partial -->
<meta charset="utf-8">
<title>BashBoard</title>

<!-- Libraries -->
<script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>

<!-- Stylesheet -->
<link rel="stylesheet" href="/public/assets/style.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato|Work+Sans&display=swap" rel="stylesheet">
