<!-- EJS partial -->
<meta charset="utf-8">
<title>BashBoard</title>

<!-- Libraries -->
<script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="/public/assets/style.css">
