<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Tasks</h1>
        <ul>
            <%for(let i = 0; i < tasks.length; i++){%>
                <li>
                    <a href="/<%=tasks[i].id; %>"><%=tasks[i].title%></a><br>
                    <%if(tasks[i].completed == false){%>Not Completed <%} else {%>
                        Task Completed
                    <%}%>
                </li>
            <%}%>
        </ul>
        <a href="/new">Add New Task</a>
    </body>
</html>
