<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>        
        Hello world
        <a href="/tasks">Check out tasks</a>
    </body>
</html>
