<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body>
        <div class="greet">
            <h2>Parties are fun. Planning them should be too.</h2>
                <img src="./public/assets/images/cheers.png" alt="Vector image of people celebrating">
            <h1>Enter BashBoard!</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/sessions/new">Log In</a>
                    </li>
                    <li>
                        <a href="/users/new">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
