<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body class="welcome">
        <div class="container-fluid">
            <h2>parties are fun. Planning them should be too. enter:</h2>
            <h1>BashBoard.</h1>
            <ul class="nav justify-content-center">

                    <li class="nav-item">
                        <a class="nav-link" href="/sessions/new">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/new">Sign Up</a>
                    </li>

            </ul>
        </div>
        <% include ./partials/bootstrap.ejs %>
    </body>
</html>
