<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body class="welcome">
        <div class="container-fluid">
            <h2>parties are fun. Planning them should be too.</h2>

            <h1>enter BashBoard.</h1>
            <ul class="nav justify-content-center">
                <dl>
                    <li class="nav-item">
                        <a href="/sessions/new">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/new">Sign Up</a>
                    </li>
                </dl>
            </ul>
        </div>
        <% include ./partials/bootstrap.ejs %>
    </body>
</html>
