/* Universal Styling */
* {
    margin: 0;
    font-family: var(--raleway);
}

form {
    border: 2px white solid;
    padding: 20px;
    margin: 15px;
    color: var(--teal);
    display: flex;
    flex-direction: column;
    width: 30vw;
}

h1 {
    color: var(--white);
    font-family: var(--marker);
}

h2 {
    color: var(--teal);
}

.card {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid white;

}

/* Variables */
:root {
    --white: #EEFFFF;
    --teal: #48F6E2;
    --dark-pink: #9c0384;
    --marker: 'Permanent Marker', cursive;
    --raleway: 'Raleway', sans-serif;
}


/* Welcome Page */
.welcome {
    background-image: url('/public/assets/images/BashBoard.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.welcome h1 {
    text-shadow: -2px 1px 10px rgba(0,0,0,1);
    font-size: 85px;
    font-family: var(--marker);
    margin: 10px;
}

.welcome h2 {
    text-shadow: -2px 1px 10px rgba(0,0,0,1);
    font-size: 42px;
    text-transform: lowercase;
    font-family: var(--raleway);
}

.welcome ul {
    display: flex;
    flex-direction: row;
}
.welcome li{
    background-color: rgba(156,3,131,.6);
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-around;

}

.welcome a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--raleway);
    color: var(--white);
}

/* New User Create Page */

.sessions {
    background-image: url('/public/assets/images/BashBoardRight.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
}


/* Login Page */


.new {
    background-image: url('/public/assets/images/BashBoardLeft.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
}


/* Index Page */

.index {
        background-image: url('/public/assets/images/BashBoard2.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;
        text-align: center;
        height: 100vh;
        width: 100vw;
}

/* newTask Page */

.newTask {
    background-image: url('/public/assets/images/BashBoard3.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100vw;
}


/* Edit Page */

/* Show Page */






/* Colors */

/* Fonts */
