*{
    margin: 0;
}

/* Color Scheme */
:root {
    --purple: #17103D;
    --orange: #FCA037;
    --salmon: #FF5E5B;
    --almond: #FFEDD1;
    --lavender: #EEE5FF;
    --work-sans:  'Work Sans', sans-serif;
    --lato: 'Lato', sans-serif;
}

/* Defining colors */
body {
    background-color: var(--purple);

    color: var(--orange);
    font-size: 18px;
}

a {
    color: var(--salmon);
}

/* Defining fonts */

h1, h2 {
    font-family: var(--work-sans);
}
h1 {
    font-size: 400%;
}

h2 {
    font-size: 300%;
}

p, a {
    font-family: var(--lato)
    font-size: 200%;
}

/* Styling buttons, forms and links */

/* Divs and Layouts */
div {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    text-align: center;
}

#welcome {
    background-color: var(--almond);
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 200%;
}

img {
    max-height: 60vh;
}
