<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="newTask">
        <div class="card w-80 text-center" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Add New Task</h2>
                <form action="/tasks" method="post">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Title: <input type="text" name="title" />
                        </li>
                        <li class="list-group-item">
                            Details: <input type="textarea" name="description" />
                        </li>
                        <li class="list-group-item">
                            Notes: <input type="textarea" name="notes" />
                        </li>
                        <li class="list-group-item">
                            Completed: <input type="checkbox" name="completed" />
                        </li>
                        <li class="list-group-item">
                            <input type="submit" class="btn btn-light" value="Add Task"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

            <% include ../partials/bootstrap.ejs %>
    </body>
</html>
