<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="new">
        <div>
            <h1>keep track of your tasks with BashBoard</h1>
            <form action="/users" method="post">
                Username: <input type="text" name="username" value=""><br>
                Password: <input type="password" name="password" value=""><br>
                <input type="submit" name="" value="Sign Up">
            </form>
        </div>
            <% include ../partials/bootstrap.ejs %>
    </body>
</html>
